*{
    font-family: "Work Sans", sans-serif;

}
.text-light-grey{
    color:#727272 ; 
}

.btn-primary{
    border-radius: 8px;
    border: none;
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

/* Header styles */
header{
    background-color: rgba(255,144,14,0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
    /* justify-content: space-between; */

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav a{
    text-decoration: none;
    color: #424242;
    
}
/* banner styles */
.banner-content{
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    width: 100%;
    height: auto;
    margin-top: 25px;
}


/* main styles */
main{
    /* max-width: 1140px; */
    margin: 50px 240px;
    /* margin: 0 auto; */

}
/* teams styles */
.teams-container{
    display: flex;

}
.teams-img-container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);  
    align-content: center;
    justify-content: center;
    gap: 1rem;
}
.teams-img-container img{
    width: 100%;

}
.teams-content{
    width: 50%;
    padding: 0 50px;
   
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-features{
    color: #ff900e;
    font-weight: 700;
}








/* Responsive styles */
/* Mobile Devices */

@media screen and (max-width:576px){
    header{
        padding: 20px;
        
    }
    nav,.teams-container{
        flex-direction: column;
    }
    .teams-container{
        margin: 0;
    }
    main{
        margin: 20px;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        
    }
    .teams-content{
        padding: 0 20px;
        width: 100%;
    }
 
}
/* Tablet and medium devices */
@media screen and (min-width:576px) and (max-width:992px){
    header{
        padding: 20px;
        
    }
    nav,.teams-container{
        flex-direction: column;
    }
    main{
        margin: 20px;
    }
    .teams-img-container,.teams-content{
        width: 100%;
    }
    .teams-content{
        padding: 10px;
    }
}